.image-card {
    position: absolute;
}

.image-grid-view {
    position: absolute;
    top: 80px;
    height: calc(100vh - 150px);
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-left: 1%;
}